:root{
    box-sizing: border-box;
    --offset: 20px;
    font-family: 'Open Sans', sans-serif;
    --text-color: #fafafa;
}

main{
    background-color: #E5E5E5;
}

.content{
    max-width: 1180px;
    margin: auto;
}

.header-blok{
    background-color: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: max-content;
}
.nav-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-flex_items{
    display: flex;
    align-items: center;
}
.name-clinic{
    font-weight: 700;
    font-size: 26px;
    color: var(--text-color);
    margin: 10px 0;
}
.nav-item{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--text-color);
    padding: 15px;
    text-decoration: none;
}
.nav-item:hover{
    color: #d4d4d4;
}
.nav-item:active{
    color: #e5e5e5;
}
#background-foto-one{ 
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max-content;
}
.slogan{
    width: calc(100%/2);
}
.slogan-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 105%;
    color: #262626;
    padding-top: 80px;
    padding-bottom: 40px;
}
#slogan_name-clinic{
    color: #0284c7;
}
.slogan-p{
    font-weight: 400;
    font-size: 16px; 
    line-height: 112%; 
    color: #0C4A6E; 
}
.blue-button{
    width: 242px;
    height: 52px;
    background-color: #0EA5E9;
    border: 1px solid #0EA5E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 40px 0;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--text-color);
}
.blue-button:hover{
    cursor: pointer;
    background-color: #0369a1;
    border: 1px solid #0EA5E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title{
    padding-top: 70px;
    padding-bottom: 55px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #0369A1;
}

.about-doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-doctors-p{
    text-align: center;
    width: 83%;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #737373;
}
.form-search{
    width: 750px;
    height: 63px;
    background: #E0F2FE;
    border: 1px solid #BAE6FD;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 83px;
    margin-bottom: 109px;
}
.search{
    margin: 15px; 
    border: none;
    background-color: #E0F2FE;
    outline: none;
}
.button-search{
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #E0F2FE;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-search:hover{
    cursor: pointer;
}
.search-icon{
    border: none;
    background-color: #E0F2FE;
    padding-left: 30px;
    padding-right: 15px;
    width: 18px;
    height: 20px;
}
.search-p{
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    color: #A3A3A3;
}

.row-doctors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0px calc(0px - var(--offset) / 2);
}
.item-doctors{
    width: calc(100% / 3 - var(--offset));
    margin: calc(var(--offset) / 2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doctor-foto{
    border-radius: 20px;
    width: calc(100% / 1);
}
.doctor-name{
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}
.doctor-profession{
    font-size: 16px;
    font-weight: 700;
}
.knopka{
    border: 1px solid #0284C7;
    border-radius: 10px;
    width: 64%;
    height: 50px;
    color: #0284C7;
    font-size: 18px;
    font-weight: 600;
    background-color: #fafafa;
    margin-top: 20px;
    margin-bottom: 120px;
}
.knopka:hover{
    cursor: pointer;
    background-color: #e0f2fe;
    border: 1px solid #0369a1;
}

#footer-blok{
    background-color: #F0F9FF;
}

.footer-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 55px;
}
.icon-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.footer-p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color:  #075985;
}
#facebook-icon{
    width: 21.16px;
    height: 21px;
    padding-left: 4px;
}
#facebook-icon:hover{
    cursor: pointer;
}
#location-icon{
    width: 17px;
    height: 20.95px;
    padding-right: 4px;
}
#phone-icon{
    width: 19px;
    height: 21px;
    padding-right: 4px;
}
#email-icon{
    width: 19px;
    height: 17.5px;
    padding-right: 4px;
}
.more-detailed{
    padding: 50px 0px;
}
.license{
    font-weight: 400;
    font-size: 17px;
    color: #075985;
    text-decoration: none;
}
.more-detailed{
    display: flex;
    justify-content: end;
}


@media (max-width: 1024px){
    .content{
        max-width: 1000px;
    }
    .nav-flex{
        justify-content: space-around;
    }
    .slogan{
        margin-left: 20px;
    }
    .title{
        width: 70%;
    }
    .row-doctors{
        margin: 0px 15px;
    }
    .footer-item{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .center-block{
        margin-bottom: 30px;
    }
}


@media (max-width: 768px){
    .nav-flex{
        justify-content: space-around;
    }
    .slogan{
        margin-left: 20px;
    }
    .name-clinic{
        font-size: 24px; }
    .nav-item{
        font-size: 20px; }
    .slogan-h{
        font-size: 50px; }
    .slogan-p{
        font-size: 16px; }
    .blue-button{
        font-size: 16px; }
    .title{
        font-size: 36px; }
    .form-search{
        max-width: 590px;
    }
    .search-p{
        font-size: 21px;
    }
   
    .about-doctors-p{
        font-size: 22px; }
   
    .item-doctors{
        width: calc(100% / 2 - var(--offset));
    }
        
    .footer-item{
        flex-direction: column;
        align-items: center;
    }
    .icon-text__medium{
        display: flex;
        justify-content: center;
    }
    .footer-p__center{
        text-align: center;
    }
   .license-centre{
        justify-content: center;
    }
}


@media (max-width: 600px) {
    .nav-flex{
        justify-content: space-around;
    }
    .nav-flex_items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .slogan{
        margin-left: 10px;
    }
    .name-clinic{
        font-size: 20px; }
    .nav-item{
        font-size: 16px; }
    .slogan-h{
        font-size: 30px; }
    .slogan-p{
        font-size: 14px; }
    .blue-button{
        font-size: 14px; }
    .title{
        padding-top: 50px;
        padding-bottom: 35px;
        font-size: 30px;
    }

    .form-search{
        max-width: 310px;
    }
    .search-p{
        font-size: 20px;
    }
    .about-doctors-p{
        font-size: 20px; }
    .search-icon{
        padding-left: 20px;
        padding-right: 10px;
        }
    .search-p{
        font-size: 18px;
    }
    .item-doctors{
        width: calc(100% / 1 - var(--offset));
        margin: 10px auto;
    } 

    .footer-p{
        font-size: 16px; }
    .license{
        font-size: 15px;
    }
}