:root{
    box-sizing: border-box;
    --offset: 20px;
    font-family: 'Open Sans', sans-serif;
    --text-color: #fafafa;
}

.content{
    max-width: 1180px;
    margin: auto;
}

.header-blok{
    background-color: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: max-content;
}
.nav-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-flex_items{
    display: flex;
    align-items: center;
}
.name-clinic{
    font-weight: 700;
    font-size: 26px;
    color: var(--text-color);
    margin: 10px 0;
}
.nav-item{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--text-color);
    padding: 15px;
    text-decoration: none;
}
.nav-item:hover{
    color: #d4d4d4;
}
.nav-item:active{
    color: #e5e5e5;
}
#background-foto-one{ 
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max-content;
}
.slogan{
    width: calc(100%/2);
}
.slogan-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 105%;
    color: #262626;
    padding-top: 80px;
    padding-bottom: 40px;
}
#slogan_name-clinic{
    color: #0284c7;
}
.slogan-p{
    font-weight: 400;
    font-size: 16px; 
    line-height: 112%; 
    color: #0C4A6E; 
}
.blue-button{
    width: 242px;
    height: 52px;
    background-color: #0EA5E9;
    border: 1px solid #0EA5E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 40px 0;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--text-color);
}
.blue-button:hover{
    cursor: pointer;
    background-color: #0369a1;
    border: 1px solid #0EA5E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title{
    padding-top: 70px;
    padding-bottom: 55px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #0369A1;
}

.title-caries{
    text-align: left;
    padding-top: 80px;
    padding-bottom: 35px;
}
.row-caries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px calc(0px - var(--offset) / 2);
}
.caries-text{
    width: calc(100% / 12*7 - var(--offset));
    margin: calc(var(--offset) / 2);
}
.caries-foto{
    width: calc(100% / 12*5 - var(--offset));
    margin: calc(var(--offset) / 2);
    height: 640px;
}
.caries-treatment-p{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: #0B4269;
    padding-bottom: 48px;
}
.patient-foto{
    width: 100%;
    height: 640px;
    object-fit: cover;
    box-shadow: 2px 4px 4px rgba(115, 115, 115, 0.25);
    border-radius: 20px;
}

.prices-block{
    width: 90%;
    height: 78px;
    border-radius: 30px;
    margin: 6px auto;
    display: flex;
    align-items: center;
}
.prices-block__pale{
    background: #F0F9FF;
}
.prices-block__intense{
    background: #E0F2FE;
}
.prices-p{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding-left: 56px;
    color: #075985;
}
.prices-blue{
    color: #00aeff;
}
.prices-green{
    color: #00ff04;
}

#services{
    background-color: #0284C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 120px;
}
.services-big-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 38px;
}
.services-item-arrow{
    width: calc(100% / 12*1 - var(--offset));
    flex-grow: 1;
    display: flex;
}
.arrow{
    margin: auto;
}
.row-services{
    flex-grow: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px calc(0px - var(--offset) / 2);
}
.services-item{
    width: calc(100% / 12*4 - var(--offset));
    margin: calc(var(--offset) / 2);
    height: 183px;
    border-radius: 20px;
}
.service-background{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}
.service-background_one{
    background: linear-gradient(to right, #4598C7 0%, transparent 100%), url(img/service-one.png);
    background-position: right;
}
.service-background_two{
    background-image:  linear-gradient(to right, #4598C7 0%, transparent 100%), url(img/service-two.png);
}
.service-background_three{
    background-image:  linear-gradient(to right, #4598C7 0%, transparent 100%), url(img/service-three.png);
}
.services-p__number{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 65px;
}
.services-p{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #F0F9FF;
}
.services-block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.services-block__second{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

#footer-blok{
    background-color: #F0F9FF;
}
.footer-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 55px;
}
.icon-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.footer-p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color:  #075985;
}
#facebook-icon{
    width: 21.16px;
    height: 21px;
    padding-left: 4px;
}
#facebook-icon:hover{
    cursor: pointer;
}
#location-icon{
    width: 17px;
    height: 20.95px;
    padding-right: 4px;
}
#phone-icon{
    width: 19px;
    height: 21px;
    padding-right: 4px;
}
#email-icon{
    width: 19px;
    height: 17.5px;
    padding-right: 4px;
}
.more-detailed{
    padding: 50px 0px;
}
.license{
    font-weight: 400;
    font-size: 17px;
    color: #075985;
    text-decoration: none;
}
.more-detailed{
    display: flex;
    justify-content: end;
}


@media (max-width: 1024px){
    .content{
        max-width: 1000px;
    }
    .nav-flex{
        justify-content: space-around;
    }
    .slogan{
        margin-left: 20px;
    }
    .more-detailed{
        margin-right: 20px;
    }
    .footer-item{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .center-block{
        margin-bottom: 30px;
    }
    .title{
        font-size: 38px;  }
    .title-caries{
        padding-left: 15px; }
    .row-caries{
        margin: 0px 15px;  }
    .caries-treatment-p{
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 44px;  }
    .patient-foto{
        height: 720px;  }
}


@media (max-width: 768px){
    .nav-flex{
        justify-content: space-around;
    }
    .slogan{
        margin-left: 20px;
    }
    .name-clinic{
        font-size: 24px; }
    .nav-item{
        font-size: 20px; }
    .slogan-h{
        font-size: 50px; }
    .slogan-p{
        font-size: 16px; }
    .blue-button{
        font-size: 16px; }
    .title{
        font-size: 34px; }

    .row-services{
        flex-grow: 6;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services-item{
        width: calc(100% / 2 - var(--offset));
        margin: calc(var(--offset) / 2);
        height: 183px;
    }

    .more-detailed{
        margin-right: 15px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .footer-item{
        flex-direction: column;
        align-items: center;
    }
    .icon-text__medium{
        display: flex;
        justify-content: center;
    }
    .footer-p__center{
        text-align: center;
    }
   .license-centre{
        justify-content: center;
    }
   
    .row-caries{
        flex-direction: column;
        align-items: center;
        margin: 0px 15px;
    }
    .caries-text{
        width: calc(100% / 1 - var(--offset));
    }
    .caries-foto{
        width: calc(100% / 1 - var(--offset));
        margin-bottom: 85px;
    }
    .title-price{
        width: 90%;
        margin: auto;
    }
    .prices-p{
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin: auto;
    }
}


@media (max-width: 600px){
    .nav-flex{
        justify-content: space-around;
    }
    .nav-flex_items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .slogan{
        margin-left: 10px;
    }
    .name-clinic{
        font-size: 20px; }
    .nav-item{
        font-size: 16px; }
    .slogan-h{
        font-size: 30px; }
    .slogan-p{
        font-size: 14px; }
    .blue-button{
        font-size: 14px; }
    .title{
        padding-top: 50px;
        padding-bottom: 35px;
        font-size: 30px;
    }

    .services-item{
        height: 140px;
    }
    .services-p__number{
        font-size: 22px;
        line-height: 30px;
        padding-left: 15px;
        padding-top: 12px;
        padding-bottom: 55px;
    }
    .services-p{
        font-size: 14px;
        line-height: 20px;
    }
    .services-block{
        justify-content: space-evenly;
    }
   
    .footer-p{
        font-size: 16px; }
    .license{
        font-size: 15px;
    }

    .caries-treatment-p{
        font-size: 20px;
        line-height: 28px;
    }
    .prices-block{
        width: 80%;
        height: 86px;
    }
    .prices-p{
        font-size: 16px;
        line-height: 24px;
        padding-left: 0px;
        margin: 15px;
    }
}